/* home page begin */

prm-static + div.flex-xl-30{
    -ms-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
    flex-basis: 20% !important;
    max-width: 20% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
}

#tweet-card	
		{
		flex-basis: 100%;	
		}
#tweet-card md-card-content
		{
		min-height: 550px;
		padding-bottom:50px;
		}
	
/* home page end */